.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: calc((100% - 45px)/5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.poster{
    width: 200px;
}